.container_wrapper {
  background-color: #365314;
  height: 10vw;
}
.icon_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.volleyball {
  width: 8%;
  position: absolute;
  right: -21px;
  top: -24px;
}
.chevronleft {
  width: 4%;
  position: absolute;
  top: 44px;
}
