html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

/* todo complete reset css if is not uset semanticUi, reactboostrap, material ui... */
